### get_dummies

This is used for "one-hot-encoding"

In [1]:
import numpy as np
import pandas as pd

In [3]:
# Reading the csv file into a pandas DataFrame
data = pd.read_csv('student_data.csv')

# Printing out the first 10 rows of our data
data[:10]

   admit  gre   gpa  rank
0      0  380  3.61     3
1      1  660  3.67     3
2      1  800  4.00     1
3      1  640  3.19     4
4      0  520  2.93     4
5      1  760  3.00     2
6      1  560  2.98     1
7      0  400  3.08     2
8      1  540  3.39     3
9      0  700  3.92     2

In [4]:

dummies_for_rank = pd.get_dummies(data['rank'], prefix='rank')
dummies_for_rank

     rank_1  rank_2  rank_3  rank_4
0         0       0       1       0
1         0       0       1       0
2         1       0       0       0
3         0       0       0       1
4         0       0       0       1
..      ...     ...     ...     ...
395       0       1       0       0
396       0       0       1       0
397       0       1       0       0
398       0       1       0       0
399       0       0       1       0

[400 rows x 4 columns]